.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.formError {
  color: var(--color-red-re05);
  font-size: 0.875rem;
}
